Repository spdx/license-list-XML, pull requests merged in 2018-03, with the labels that each got.

#603 BitTorrent-1.1: Move standardLicenseHeader inside text and support 1.1 grants
  src/BitTorrent-1.1.xml
Labels: legal issue

#621 Linux-OpenIB: Add new license to add #620
  src/Linux-OpenIB.xml
  test/simpleTestForGenerator/Linux-OpenIB.txt
Labels: new license/exception request

#570 Add back LLVM exception for release 3.1
  src/exceptions/LLVM-exception.xml
Labels: new license/exception request, new license/exception: Accepted

#392 Add <obsoletedBy> to licenses and exceptions
  schema/ListedLicense.xsd
  src/AGPL-1.0.xml
  src/AGPL-3.0.xml
  src/GFDL-1.1.xml
  src/GFDL-1.2.xml
  src/GFDL-1.3.xml
  src/GPL-1.0+.xml
  src/GPL-1.0.xml
  src/GPL-2.0+.xml
  src/GPL-2.0-with-GCC-exception.xml
  src/GPL-2.0-with-autoconf-exception.xml
  src/GPL-2.0-with-bison-exception.xml
  src/GPL-2.0-with-classpath-exception.xml
  src/GPL-2.0-with-font-exception.xml
  src/GPL-2.0.xml
  src/GPL-3.0+.xml
  src/GPL-3.0-with-GCC-exception.xml
  src/GPL-3.0-with-autoconf-exception.xml
  src/GPL-3.0.xml
  src/LGPL-2.0+.xml
  src/LGPL-2.0.xml
  src/LGPL-2.1+.xml
  src/LGPL-2.1.xml
  src/LGPL-3.0+.xml
  src/LGPL-3.0.xml
  src/Nunit.xml
  src/StandardML-NJ.xml
  src/eCos-2.0.xml
  src/wxWindows.xml
Labels: XML schema change
