Repository spdx/license-list-XML, pull requests merged in 2020-05, with the labels that each got.

#912 Update URLs for bzip2 licenses
  src/bzip2-1.0.5.xml
  src/bzip2-1.0.6.xml
Labels: minor updates to file

#1028 New exception: SHL-2.1
  src/exceptions/SHL-2.1.xml
  test/simpleTestForGenerator/SHL-2.1.txt
Labels: new license/exception request, new license/exception: Accepted

#1029 New exception: SHL-2.0
  src/exceptions/SHL-2.0.xml
  test/simpleTestForGenerator/SHL-2.0.txt
Labels: new license/exception request, new license/exception: Accepted

#1039 Add release notes for 3.9
  RELEASE-NOTES.md
Labels: documentation
