Repository spdx/license-list-XML, pull requests merged in 2023-10, with the labels that each got.

#2191 Update xml-fields.md - add more guidance
  DOCS/xml-fields.md
Labels: documentation

#2192 Update BSD-3-Clause.xml for issue 2020
  src/BSD-3-Clause.xml
Labels: XML markup change

#2190 Create BSD-3-Clause-flex
  src/BSD-3-Clause-flex.xml
  test/simpleTestForGenerator/BSD-3-Clause-flex.txt
Labels: new license/exception: Accepted, used in major distro

#2189 Create GCC-exception-2.0-note
  src/exceptions/GCC-exception-2.0-note.xml
  test/simpleTestForGenerator/GCC-exception-2.0-note.txt
Labels: new license/exception: Accepted, used in major distro

#2198 Fix exception tag in stunnel-exception
  src/exceptions/stunnel-exception.xml
Labels: XML markup change

#2199 Fix tags for new exceptions
  src/exceptions/GNU-compiler-exception.xml
  src/exceptions/SANE-exception.xml
  src/exceptions/Texinfo-exception.xml
Labels: XML markup change

#2200 Add release notes for 3.22
  RELEASE-NOTES.md
Labels: documentation

#2118 Create license-match.md
  DOCS/license-match.md
Labels: documentation

#2217 Update OSI approval status of ICU
  src/ICU.xml
Labels: XML markup change
