Repository spdx/license-list-XML, pull requests merged in 2023-03, with the labels that each got.

#1858 BSD-2-Clause: Add optional tags for "SOFTWARE"
  src/BSD-2-Clause.xml
Labels: XML markup change

#1862 Removed the `isDeprecated` field form the licenses
  src/AGPL-1.0.xml
  src/AGPL-3.0.xml
  src/BSD-2-Clause-FreeBSD.xml
  src/BSD-2-Clause-NetBSD.xml
  src/GFDL-1.1.xml
  src/GFDL-1.2.xml
  src/GFDL-1.3.xml
  src/GPL-1.0+.xml
  src/GPL-1.0.xml
  src/GPL-2.0+.xml
  src/GPL-2.0-with-GCC-exception.xml
  src/GPL-2.0-with-autoconf-exception.xml
  src/GPL-2.0-with-bison-exception.xml
  src/GPL-2.0-with-classpath-exception.xml
  src/GPL-2.0-with-font-exception.xml
  src/GPL-2.0.xml
  src/GPL-3.0+.xml
  src/GPL-3.0-with-GCC-exception.xml
  src/GPL-3.0-with-autoconf-exception.xml
  src/GPL-3.0.xml
  src/LGPL-2.0+.xml
  src/LGPL-2.0.xml
  src/LGPL-2.1+.xml
  src/LGPL-2.1.xml
  src/LGPL-3.0+.xml
  src/LGPL-3.0.xml
  src/Nunit.xml
  src/StandardML-NJ.xml
  src/bzip2-1.0.5.xml
  src/eCos-2.0.xml
  src/exceptions/Nokia-Qt-exception-1.1.xml
  src/wxWindows.xml
Labels: XML markup change

#1865 Spencer-94 - fix copyrightText tag
  src/Spencer-94.xml
Labels: XML markup change

#1867 Clarify language in issue template
  .github/ISSUE_TEMPLATE/new-license-request.yaml
Labels: documentation

#1882 update 389-exception: add markup to name
  src/exceptions/389-exception.xml
Labels: XML markup change

#1872 OpenPBS-2.3: fix p tags
  src/OpenPBS-2.3.xml
Labels: minor updates to file

#1883 Add license exception inclusion principles
  DOCS/license-inclusion-principles.md
Labels: documentation
