Repository spdx/license-list-XML, pull requests merged in 2024-12, with the labels that each got.

#2628 add MIPS and ThirdEye licenses
  src/MIPS.xml
  src/ThirdEye.xml
  test/simpleTestForGenerator/MIPS.txt
  test/simpleTestForGenerator/ThirdEye.txt
Labels: new license/exception: Accepted, used in major distro

#2629 markup change to HPND-sell-variant to accomodate old style MIT variant
  src/HPND-sell-variant.xml
Labels: XML markup change, HPND-variant

#2630 BSD-3-Clause: Add markup for Apache Lucene variant
  src/BSD-3-Clause.xml
Labels: XML markup change

#2626 Update AML.xml
  src/AML.xml
Labels: XML markup change

#2648 Revert expected-warnings change from 166129d
  expected-warnings
Labels: technical issue, HPND-variant

#2650 Add release notes for 3.26.0
  RELEASE-HISTORY.md
  RELEASE-NOTES.md
Labels: documentation
